<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<footer th:fragment="footer" class="footer">
		<div class="col-lg-12 col-xs-12 col-md-12 sitemap-footer">
			<div class="col-sm-3">
				<div class="brand-logo-footer">Wallistry</div>
				<br />
				<div class="social-media-logo">
					<a href="/" class="logo-box"><img alt="Facebook logo"
						src="/images/footer/facebook-logo.png" height="24" width="23" />
					</a> <a href="/" class="logo-box"><img alt="Facebook logo"
						src="/images/footer/instagram-logo.png" height="24" width="24" />
					</a> <a href="/" class="logo-box"><img alt="Facebook logo"
						src="/images/footer/pinterest-logo.png" height="24" width="24" />
					</a> <a href="/" class="logo-box"><img alt="Facebook logo"
						src="/images/footer/twitter-logo.png" height="24" width="24" /> </a>
					<a href="/" class="logo-box"><img alt="Facebook logo"
						src="/images/footer/youtube-logo.png" height="24" width="24" /> </a>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="content-margin light">
					<div class="sitemap">
						<a href="">About Us</a>
					</div>
					<div class="sitemap">
						<a href="">Contact Us</a>
					</div>
				</div>
			</div>
			<div class="col-sm-2 content-margin light">
				<div class="sitemap">
					<a class="" href="">FAQ’S</a>
				</div>
				<div class="sitemap">
					<a href="">Return Policy</a>
				</div>
				<div class="sitemap">
					<a href="">Privacy Policy</a>
				</div>
				<div class="sitemap">
					<a href="">Terms and Conditions</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="italic coupon">FREE SHIPPING FOR PURCHASE ABOVE
					Rs.600</div>
				<div class="bold text-center">Subscribe for newsletter</div>
				<input type="email" class="email" placeholder="Email"/><button class="submit" type="submit">SUBSCRIBE</button>
			</div>
		</div>
		<div id="footer-bottom"
			class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
			style="height: 48px; margin-top: 10px; background-color: #212121; overflow: hidden">
			<div class="container">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<p style="padding-top: 16px; color: #FAFAFA">© 2017 WALLISTRY</p>
				</div>
			</div>

		</div>
	</footer>
</body>
</html>