<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="apple-touch-icon" href="apple-touch-icon.png"/>
<!-- Bootstrap Core CSS -->
<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link rel="stylesheet"
	th:href="@{/css/owlcarousel/owl.carousel.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/owlcarousel/owl.theme.default.min.css}" />
<!-- Google Fonts -->
<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Lato:regular,light,bold|Raleway:regular,light,bold|Roboto:regular,light,bold|PT+Serif:regular,light,bold"/>
<!-- Custom styles for this template -->
<link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" rel="stylesheet"/>
<link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/seller.css}" rel="stylesheet" media="screen" />
<link th:href="@{/css/theme.css}" rel="stylesheet" media="screen" />

</head>
<div th:fragment="before-body-script">
	<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
</div>
</html>