<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="row heading-section"
		th:fragment="heading-section(title,type,description)">
		<div class="col-lg-12 va-center">
			<div class="col-lg-12 col-sm-12 col-md-12 text-center">
				<p class="title item-page-title" th:text="${title}"></p>
			</div>
			<div class="col-lg-12 col-sm-12 col-md-12 text-center">
				<p class="title" th:text="${type}"></p>
			</div>
			<div class="col-md-offset-2 col-md-8 text-center col-xs-12 desc-txt"
				th:text="${description}"></div>
		</div>
	</div>
		<div class="row heading-section"
		th:fragment="content-section(type,description1,description2)">
		<div class="col-lg-12 va-center">
			<div class="col-lg-12 col-sm-12 col-md-12 text-center">
				<p class="content-title" th:text="${type}"></p>
			</div>
			<div class="col-md-offset-2 col-md-8 text-center col-xs-12 desc-txt"
				th:text="${description1}"></div>
			<div class="col-md-offset-2 col-md-8 text-center col-xs-12 desc-txt"
				th:text="${description2}"></div>			
		</div>
	</div>
	<div class="row" th:fragment="main-img-section(image)">
		<img th:src="@{'/images/'+${image}}" style="width: 100%" />
	</div>
	<div class="row" th:fragment="sub-img-section(image1,image2)">
		<div class="col-lg-6">
			<div class="row">
				<img th:src="@{'/images/'+${image1}}" style="width: 100%" />
			</div>
		</div>
		<div class="col-lg-6">
			<div class="row">
				<img th:src="@{'/images/'+${image2}}" style="width: 100%" />
			</div>
		</div>
	</div>
	<div class="row spacing-top" th:fragment="features-heading(title)">
		<div class="col-lg-12">
			<div class="col-lg-12 col-sm-12 col-md-12 text-center">
				<p class="title-features"  th:text="${title}">FEATURES</p>
			</div>
		</div>
	</div>
	<div class="row"
		th:fragment="features-item-section(image,title,description)">
		<div class="col-lg-4">
			<img alt="icon" th:src="@{'/images/'+${image}}" style="width: 100%" />
		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="title" th:text="${title}"></p>
				</div>
				<div class="col-lg-12 col-xs-12 feature-text" th:text="${description}"></div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-3"
		th:fragment="new-features-item-section(image,title,description)">
		<div class="col-lg-12" style="text-align:center">
			<img alt="icon" th:src="@{'/images/'+${image}}"/>
		</div>
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center" style="padding:16px;">
					<p class="title" th:text="${title}"></p>
				</div>
				<div class="col-lg-12 col-xs-12" th:text="${description}"></div>
			</div>
		</div>
	</div>
	
	
</body>
</html>