<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<nav class="navbar sticky-top" th:fragment="common-nav">
		<div class="container-fluid">
			<div class="brand-logo">Wallistry</div>
			<div class="flexbox-container middle-nav-container">
				<a id="home" href="/index.html">HOME</a> <a id="bottle" href="/bottle.html">NOTEBOOKS</a> <a href="/bottle.html">BOTTLE</a> <a id="coasters" href="/coasters.html">COASTER</a>
				<a></a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">MY CART</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>