<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar sticky-top hidden-xs" th:fragment="common-nav">
		<div class="container-fluid">
			<div class="brand-logo logo light">Wallistry</div>
			<div class="flexbox-container middle-nav-container">
				<a id="home" href="/">HOME</a><a href="/homeware">HOMEWARE</a><a id="stationery" href="/stationery">STATIONERY</a><a id="collectibles">COLLECTIBLES</a><a id="gifting">GIFTING</a><a id="blog">BLOG</a>
				
				<!--<a id="bottle" href="/notebook">NOTEBOOKS</a> <a href="/bottle">BOTTLE</a> <a id="coasters" href="/coasters">COASTER</a>
				<a></a>-->
			</div>
			<div class="flexbox-container right-nav-container">
				<a id="account">MY ACCOUNT</a>
				<a><svg version="1.1" id="Layer_1" fill="#999999" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 					width="16.5px" height="20px" viewBox="0 0 16.5 20" enable-background="new 0 0 16.5 20" xml:space="preserve">
						<g>
							<circle cx="8.013" cy="3.761" r="3.383"/>
							<path  d="M16.3,19.313c0-5.873-3.604-10.634-8.051-10.634C3.804,8.679,0.2,13.44,0.2,19.313H16.3z"/>
						</g>
					</svg></a>
				
				<a><svg version="1.1" id="Layer_1" fill="#999999" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 					width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
						<g>
							<rect x="6.839" y="17.448" width="6.479" height="1"/>
							<rect x="14.19" y="0.521" width="6.479" height="1"/>
							<circle  cx="15.443" cy="18.214" r="1.266"/>
							<polygon  points="0.622,3.099 6.872,12.7 16.722,12.7 16.722,3.099 	"/>
						</g>
					</svg></a>
			</div>
			<!-- <ul class="nav navbar-nav navbar-right">
				<li><a href="#">MY CART</a></li>
			</ul> -->
		</div>
	</nav>
</body>
</html>