@CHARSET "UTF-8";

* {
	font-family: 'Lato', sans-serif;
}

html, body {
	overflow-x: hidden;
}
@font-face {
    font-family: nexabold;
    src: url("fonts/Nexa Bold.woff") format("woff"), url("fonts/Nexa Bold.woff")  format("truetype");
}
@font-face {
    font-family: gravity light;
    src: url("fonts/Gravity-Light.woff") format("woff"), url("fonts/Gravity-Light.woff")  format("truetype");
}
@font-face {
    font-family: gravity bold;
    src: url("fonts/Gravity-Bold.woff") format("woff"), url("fonts/Gravity-Bold.woff")  format("truetype");
}
.logo{
	font-family:'Raleway', sans-serif;
}

.bold {
	font-weight: 700;
}

.light {
	font-weight: 300;
}

.spacing-top {
	margin-top: 30px
}
.p15{
	padding-top: 15px;
	padding-bottom :15px;
}

.spacing{
	padding-top: 30px;
	padding-bottom: 30px;
}
.navbar {
	margin-bottom: 0px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-right, .middle-nav-container>a, .right-nav-container>a {
	padding: 0 15px;
	color: #989898;
	text-decoration: none;
	cursor: pointer;
}

.navbar-right, .middle-nav-container>a:hover , .right-nav-container>a:hover{
	color: #D86226;
}

.brand-logo {
	font-size: 36px;
	float: left;
}

.brand-logo:after {
	clear: both;
}

.middle-nav-container, .middle-logo-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.right-nav-container{
	position: absolute;
	right: 0%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.flexbox-container {
	display: flex;
}

.middle-nav-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.va-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.cart {
	float: right;
}

.cart:after {
	clear: both
}

.coupon-head {
	font-size: 16px;
	color: #ffffff;
	height: 36px;
	line-height: 36px;
	font-family:nexabold;
}
.sub-coupon{
	font-size:18px;
	color:#231F20;
	margin-top:50px;
}
.newsletter{
	font-size:16px;
	color:#231F20;
	padding:8px 0;   
	font-family:gravity bold;  
}
a svg:hover {
	fill:#D86226;
}
.background-coupon{
	background-color:#1C3664;
}
.story-a{
    text-align: right;
    font-size: 24px;
    padding-bottom: 24px;
    margin-top: 100px;
    color: #1B3564;
}
.story-a-desc{
	font-size: 16px;
    text-align: right;
}
.story-b{
	text-align: left;
    font-size: 24px;
    padding-bottom: 24px;
    margin-top: 100px;
    color: #CC6632;
}
.story-b-desc{
	font-size: 16px;
    text-align: left;
}
.read-more-btn{
	background-color: #CD6632;
    color: #ffffff;
    height: 30px;
    border: 0px;
    width: 120px;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    margin-top:50px;
    border-radius: 16px;
}
.card-gift{
	margin-bottom: 16px;
    margin-top: 16px;
}
.insta-content{
	margin-top:48px;
}
.instaPic{
	height:40px;
	text-align:center;
}
.homeware-item{
	padding-top:50px;
}
.customize-head{
	color: #CD6632;
	font-size: 24px;
}
.customize-section{
	height:220px;
	position:relative;
}
.music-section{
	font-size:32px;
}
.video-readmore{
	border-radius: 15px;
    margin-left: 50px;
    margin-top:20px;
    padding: 8px 12px;
    font-size: 13px;
    width: 100px;
    background: transparent;
}
.desc-img{
	height:300px;
}
.content-title{
	    font-size: 24px;
    font-weight: bold;
    color: #CD6632;
    text-align: center;
}
.breadcrumb li{
	font-size:16px;
	font-family: gravity light;
}
.breadcrumb li a{
	color: #616261;
	font-size:16px;
	font-family: gravity light;
}
.breadcrumb>.active{
	color: #CC6632;
	
}
.story-alt-text{
	position:relative;
	height:98px;
}
.tag-text-alt{
	 color: #1B3564;
    font-size: 20px;
    font-family: nexabold
}
/*Footer*/
	
.title-head{
	font-size: 30px;
    color: #CC6632;
   font-family: nexabold;
}
.title-text{
	color: #6D6E70;
    font-size: 20px;
    font-family: nexabold;
}
.desc-txt{
	font-size:16px;
	color:#616261;
	font-family: gravity light;
}
.logo-box {
	display: inline-block;
	padding: 0px 5px;
	cursor: pointer;
	margin-top:30px;
}
.logo-tag{
	float: left;
    width: 100%;
    text-align: center;
    color: #f1f2f2;
}
.social-media-logo {
	text-align: center;
}

.brand-logo-footer {
	font-size: 36px;
	float: left;
	width: 100%;
	text-align: center;
	margin-top:50px;
	color: #f1f2f2;
}

.sitemap-footer {
	height: 200px;
	background-color: #1b3564;
}
.button-alt{
	border-radius: 16px;
    padding: 8px 16px;
    background: transparent;
    font-family: gravity light;
    font-size: 16px;
    color: #231f20;
}
.button-position{
	margin: 10px 0;
}
.content-margin {
	margin-top: 20px;
}
.footer-title-label{
	color:#f1f2f2;
	font-size:16px;
	font-family: gravity bold;
}
.vertical-footbar{
	    height: 100%;
    border-left: 1px solid #f1f2f2;
    margin-top: 50px;
}
.sitemap>a {
	font-size: 16px;
	color: #757575;
}

.email {
	border: 1px solid #1b3564;
	height: 30px;
	padding-left: 8px;
	width: 240px;
	font-family: gravity light;
}

.submit {
	background-color: #1b3564;
	color: #ffffff;
	height: 30px;
	border: 0px;
	width: 120px;
	cursor: pointer;
	padding: 0;
	font-size:16px;
}

/* Tabs  */
.item-section {
	margin: 0pt -13pt;
}

.item {
	padding: 0 2pt;
	border-right: 4pt solid #e0e0e1;
	border-bottom: 2px solid #e0e0e1;
	border-top: 5pt solid #e0e0e1;
}

.card {
	background-color: #ffffff;
}

.item>.card {
	height: 552px;
}

.title {
	font-size: 16px;
	font-weight: bold;
	color: #1b3564;
	text-align: center;
	font-family: gravity bold;
}
.feature-text{
	color:#616261;
	font-size:16px;
	font-family:gravity light;
}

.desc-txt {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}
.txt[type="text"] {
    border: 1px solid #000;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 360px;
}
.txt_3[type="text"] {
	border: 1px solid #000;
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 360px;
}
.txt[type="email"] {
    border: 1px solid #000;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 360px;
}
.field label{
	width: 100px;
    text-align: right;
    padding-right: 16px;
    font-family: gravity bold;    
    vertical-align: top;
    margin-top: 10px;
}

.story {
	height: 268px;
	position: relative;
	background-color: #F7F2EB;
}
.story-alt{
    position: relative;
    height: 192px;
    background-color: #F7F2EB;	
}
.button-position{
	padding:20px;
}
.title-alt-head{
	font-size: 24px;
    color: #1b3564;
    font-family: nexabold;
}
.gifting-a{
	position:relative;
	padding:30px;
}
.gifting-b{
	position:relative;
	padding:30px;
}
.button-gift{
	position:absolute;
	border-color: rgba(0,0,0,0.4);
	left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);	
}
.gift-img-size{
	max-width: 100%;
    max-height: 100%;
    opacity:0.5;
}
.item-title{
	padding: 16px;
    font-size: 20px;
    color: #6d6e70;
    font-family: nexabold;
}
.item-img-size {
	height: 420px; /* change */
	width: 280px;
}

.item-type {
	font-size: 16px;
    color: #6D6E70;
	margin-top: 24px;
	font-family:Gravity light;
}
.item-type-cost{
	color: #616261;
    font-family: gravity bold;
}

.item-name {
	letter-spacing: 0.2em;
	height: 70px; /* change */
	line-height: 70px;
	color: #000101;
    font-size: 20px;
    font-family: nexabold; 
}
.
.artist_text {
	height: 72px;
	position: relative;
	background: #e0e0e0;
	margin-bottom: 24px;
}
/* bottle */
.heading-section {
	height: 200px;
	position: relative;
}

.item-page-title {
	font-family: serif;
	font-size: 28px;
	font-weight: lighter;
}
.margin-image{
	    margin: 100px;
	
}
.tag-text {
	font-size: 24px;
	font-weight: lighter;
}

.floating-btn {
	position: fixed;
	top: 56px;
	right: 45px;
	margin: 0;
	background-color: #424242;
	color: white;
	padding: 8px 16px;
	border-radius: 6px;
	z-index: 40;
}

.title-features {
	font-family: nexabold;
	font-size: 24px;
	color:#1b3564;
}

a.floating-btn:hover {
	text-decoration: none;
	color: #00BF9A
}

p.collection-title {
	margin-top: 8px;
	font-weight: bold;
}

.collection-section {
	margin-left: 3%;
	width: 94%;
}

/* buy now */
.breadcrumb {
	background-color: white;
	margin: 0px;
}

.breadcrumb>li+li:before {
	content: ">";
}

.buy-item-title {
	font-size: 24px;
	font-family: PT Serif;
	font-weight: bold;
	color: #000000;
}

.buy-item-type {
	font-size: 16px;
}

.buy-item-price {
	font-size: 18px;
	font-weight: bold;
}
.buy-item-qty{
		font-size: 18px;
	font-weight: bold;
}

.min-spacing-top {
	margin-top: 15px;
}

.input-number {
	border: none;
	text-align: center;
	width: 50px;
}

.btn-number {
	border-radius: 0px;
	border-color: black;
	color: black;
	background-color: white;
}

.btn-grp {
	width: 170px;
	height: 40px;
	/* font-weight: bold;
	font-size: 16px; */
	color: white;
	border: none;
}

.btn-add-cart {
	background-color: #1C3664;
}

.btn-buy-now {
	background-color: #CD6632;
}

.tab-content {
	height: 200px;
	background-color: #e0e0e0;
	padding-left: 20px;
}

.tab-content ul {
	list-style-type: none;
	padding-top: 15px;
	padding-left: 15px;
}

.item-specs .nav-tabs.nav-justified>li.active>a, .nav-tabs>li.active>a:focus,
	.nav-tabs>li.active>a:hover {
	background-color: #e0e0e0;
	border: none;
	border-radius: 0px;
}

.item-specs .nav-tabs.nav-justified>li>a {
	background-color: #eeeeee;
	border: none;
	border-radius: 0px;
	color: #000000;
}

.nav-section {
	margin: 0px -5px;
}

.item-specs .nav-tabs.nav-justified {
	border-collapse: separate;
	-webkit-border-horizontal-spacing: 5px;
}

.title-color {
	color: #000000;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

i.arrow {
	height: 15px;
	width: 15px;
	position: relative;
	top: 50%;
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.a:focus, a:hover{
	text-decoration:none;
}
/* Product Images */
#fullImg {
	float: right;
}

#fullImg img {
	max-width: 100%;
}

img.zoomImg {
	cursor: move;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

.bx-wrapper {
	position: relative;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper .bx-viewport {
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
	margin-top: 30px;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
	left: 50%;
	margin-left: -16px;
	background: transparent;
	top: -42px;
}

.bx-wrapper .bx-next {
	left: 50%;
	background: transparent;
	margin-left: -16px;
	bottom: -42px;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	outline: 0;
	width: 32px;
	height: 32px;
	text-align: center;
}

.term-strip {
	text-align: center;
	height: 72px;
	color: #000;
	font-size: 16px;
	position: relative;
}
.text{
	margin:15px 0;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

.mt-1{
	margin-top:10px
}
.mb-1{
	margin-bottom:10px;
}

/*Tabs */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width:
	667px) {
	.submit {
		width: 90px;
	}
	.email {
		width: 180px;
	}
	.sitemap-footer {
		height: 100%;
	}
	.coupon {
		font-size: 12px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	567px) {
	.submit {
		width: 85px;
	}
	.email {
		width: 172px;
	}
	.sitemap-footer {
		height: 100%;
	}
	.coupon {
		font-size: 10px;
	}
	.item-name {
		font-size: 14px;
	}
	.item-type {
		font-size: 11px;
	}
	.artist_text {
		height: 60px;
		font-size: 14px;
	}
}


/* ADD CART TEST STYLE */
.cart-content{
	position: absolute;
    right: 0;
    height: 725px; /*height to be fixed */
    background-color: beige;
    top: 0;
    width: 600px;
    z-index: 9;
    display:none;
}
.cart-title{
	padding: 24px;
    text-align: center;
    font-size: 24px;
    font-family: nexa bold;
    color: #1B3564;
}
.cart-title span{
	float:right;
}
.cart-items{
	height:500px;
}
.cart-items ul{
	list-style-type:none;
	padding-right:40px;
}
.cart-items ul li{
	padding-top: 16px;
    height: 140px;
    border-top: 2px solid #ccc;   
}
.cart-items ul li .cart-list_item{
	    height: 106px;
}
.cart-items ul li .cart-list_item img{
	height:inherit;
}
.cart-list-qty{
	display: inline-block;
    margin-left: 50px;
    
}
.cart-list_item-title{
	height: 30px;
    color: #616261;
    font-size: 16px;
    font-family: nexabold;
}
.cart-list-price{
	display: inline-block;
}
.cart-list-qty-text{
	    font-size: 20px;
    font-family: gravity light;
    color: #616261;
}
.cart-list-qty .btn-number,.cart-list-qty .input-number{
	background-color:transparent;
	border-color: #616261;
    color: #616261;
	
}