@CHARSET "UTF-8";

* {
	font-family: 'Lato', sans-serif;
}

html, body {
	overflow-x: hidden;
}

@font-face {
	font-family: nexa-bold;
	src: url("fonts/Nexa-Bold.woff") format("woff"),
		url("fonts/Nexa-Bold.woff") format("truetype");
}

@font-face {
	font-family: gravity-light;
	src: url("fonts/Gravity-Light.woff") format("woff"),
		url("fonts/Gravity-Light.woff") format("truetype");
}

@font-face {
	font-family: gravity-bold;
	src: url("fonts/Gravity-Bold.otf") format("woff"),
		url("fonts/Gravity-Bold.otf") format("truetype");
}

.logo {
	font-family: 'Raleway', sans-serif;
}

.bold {
	font-weight: 700;
}

.light {
	font-weight: 300;
}

.italic {
	font-weight: 400;
	font-style: italic;
}

.spacing-top {
	margin-top: 30px
}

.p15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.spacing {
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-right, .middle-nav-container>a, .right-nav-container>a {
	padding: 0 15px;
	color: #989898;
	text-decoration: none;
	cursor: pointer;
}

.navbar-right, .middle-nav-container>a:hover, .right-nav-container>a:hover
	{
	color: #D86226;
}

.brand-logo {
	font-size: 36px;
	float: left;
}

.brand-logo:after {
	clear: both;
}

.middle-nav-container, .middle-logo-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.right-nav-container {
	position: absolute;
	right: 0%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.flexbox-container {
	display: flex;
}

.middle-nav-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.va-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.cart {
	float: right;
}

.cart:after {
	clear: both
}

.coupon-head {
	font-size: 16px;
	color: #ffffff;
	height: 36px;
	line-height: 36px;
	font-family: nexa-bold;
}

.sub-coupon {
	font-size: 18px;
	color: #231F20;
	margin-top: 50px;
}

.newsletter {
	font-size: 16px;
	color: #231F20;
	padding: 8px 0;
	font-family: gravity-bold;
}

a svg:hover {
	fill: #D86226;
}

.background-coupon {
	background-color: #1C3664;
}

.story-a {
	text-align: right;
	font-size: 24px;
	padding-bottom: 24px;
	margin-top: 100px;
	color: #1B3564;
}

.story-a-desc {
	font-size: 16px;
	text-align: right;
}

.story-b {
	text-align: left;
	font-size: 24px;
	padding-bottom: 24px;
	margin-top: 100px;
	color: #CC6632;
}

.story-b-desc {
	font-size: 16px;
	text-align: left;
}

.read-more-btn {
	background-color: #CD6632;
	color: #ffffff;
	height: 30px;
	border: 0px;
	width: 120px;
	cursor: pointer;
	padding: 0;
	font-size: 16px;
	margin-top: 50px;
}

.insta-content {
	margin-top: 48px;
}

.instaPic {
	/* height: 40px; */
	text-align: center;
}

.homeware-item {
	padding-top: 50px;
}

.customize-head {
	color: #CD6632;
	font-size: 24px;
}

.customize-section {
	height: 220px;
	position: relative;
}

.music-section {
	font-size: 32px;
}

.video-readmore {
	border-radius: 15px;
	margin-left: 50px;
	margin-top: 20px;
	padding: 8px 12px;
	font-size: 13px;
	width: 100px;
	background: transparent;
}

/* .desc-img {
	height: 300px;
} */

.content-title {
	font-size: 24px;
	font-weight: bold;
	color: #CD6632;
	text-align: center;
}
/*Footer*/
.footer {
	margin-top: 60px;
}

.title-head {
	font-size: 24px;
	color: #000101;
	font-family: nexa-bold;
}

.desc-txt {
	font-size: 16px;
	color: #616261;
	font-family: gravity-light;
}

.logo-box {
	display: inline-block;
	padding: 0px 5px;
	cursor: pointer
}

.social-media-logo {
	text-align: center;
}

.brand-logo-footer {
	font-size: 36px;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.sitemap-footer {
	height: 200px;
	background-color: #E0E0E0;
}

.content-margin {
	margin-top: 90px;
}

.sitemap>a {
	font-size: 16px;
	color: #757575;
}

.email {
	border: 1px solid #ffffff;
	height: 30px;
	padding-left: 8px;
	width: 240px;
	font-family: gravity-light;
}

.submit {
	background-color: #CD6632;
	color: #ffffff;
	height: 30px;
	border: 0px;
	width: 120px;
	cursor: pointer;
	padding: 0;
	font-size: 16px;
}

/* Tabs  */
.item-section {
	margin: 0pt -13pt;
}

.item {
	padding: 0 2pt;
	border-right: 4pt solid #e0e0e1;
	border-bottom: 2px solid #e0e0e1;
	border-top: 5pt solid #e0e0e1;
}

.card {
	background-color: #ffffff;
}

.item>.card {
	height: 552px;
}

.title {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.desc-txt {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

.story {
	height: 168px;
	position: relative;
}

.item-img-size {
	height: 420px; /* change */
	width: 280px;
}

.item-type {
	font-size: 16px;
	color: #616261;
	font-variant: small-caps;
	margin-top: 24px;
	font-family: gravity-light;
}

.item-name {
	letter-spacing: 0.2em;
	height: 70px; /* change */
	line-height: 70px;
	color: #000101;
	font-size: 20px;
	font-family: nexa-bold;
}

.artist_text {
	height: 72px;
	position: relative;
	background: #e0e0e0;
	margin-bottom: 24px;
}
/* bottle */
.heading-section {
	height: 200px;
	position: relative;
}

.item-page-title {
	font-family: serif;
	font-size: 28px;
	font-weight: lighter;
}

.tag-text {
	font-size: 24px;
	font-weight: lighter;
}

.floating-btn {
	position: fixed;
	top: 56px;
	right: 45px;
	margin: 0;
	background-color: #424242;
	color: white;
	padding: 8px 16px;
	border-radius: 6px;
	z-index: 40;
}

.title-features {
	font-family: serif;
	font-size: 24px;
}

a.floating-btn:hover {
	text-decoration: none;
	color: #00BF9A
}

p.collection-title {
	margin-top: 8px;
	font-weight: bold;
}

.collection-section {
	margin-left: 3%;
	width: 94%;
}

/* buy now */
.breadcrumb {
	background-color: white;
	margin: 0px;
}

.breadcrumb>li+li:before {
	content: ">";
}

.buy-item-title {
	font-size: 24px;
	font-family: PT Serif;
	font-weight: bold;
	color: #000000;
}

.buy-item-type {
	font-size: 16px;
}

.buy-item-price {
	font-size: 18px;
	font-weight: bold;
}

.min-spacing-top {
	margin-top: 15px;
}

.input-number {
	border: none;
	text-align: center;
	width: 50px;
}

.btn-number {
	border-radius: 0px;
	border-color: black;
	color: black;
	background-color: white;
}

.btn-grp {
	width: 170px;
	height: 40px;
	/* font-weight: bold;
	font-size: 16px; */
	color: white;
	border: none;
}

.btn-add-cart {
	background-color: #1C3664;
}

.btn-buy-now {
	background-color: #CD6632;
}

.tab-content {
	height: 200px;
	background-color: #e0e0e0;
	padding-left: 20px;
}

.tab-content ul {
	list-style-type: none;
	padding-top: 15px;
	padding-left: 15px;
}

.item-specs .nav-tabs.nav-justified>li.active>a, .nav-tabs>li.active>a:focus,
	.nav-tabs>li.active>a:hover {
	background-color: #e0e0e0;
	border: none;
	border-radius: 0px;
}

.item-specs .nav-tabs.nav-justified>li>a {
	background-color: #eeeeee;
	border: none;
	border-radius: 0px;
	color: #000000;
}

.nav-section {
	margin: 0px -5px;
}

.item-specs .nav-tabs.nav-justified {
	border-collapse: separate;
	-webkit-border-horizontal-spacing: 5px;
}

.title-color {
	color: #000000;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

i.arrow {
	height: 15px;
	width: 15px;
	position: relative;
	top: 50%;
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.a:focus, a:hover {
	text-decoration: none;
}
/* Product Images */
#fullImg {
	float: right;
}

#fullImg img {
	max-width: 100%;
}

img.zoomImg {
	cursor: move;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

.bx-wrapper {
	position: relative;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper .bx-viewport {
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
	margin-top: 30px;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
	left: 50%;
	margin-left: -16px;
	background: transparent;
	top: -42px;
}

.bx-wrapper .bx-next {
	left: 50%;
	background: transparent;
	margin-left: -16px;
	bottom: -42px;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	outline: 0;
	width: 32px;
	height: 32px;
	text-align: center;
}

.term-strip {
	text-align: center;
	height: 72px;
	color: #000;
	font-size: 16px;
	position: relative;
}

.text {
	margin: 15px 0;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

.mt-1 {
	margin-top: 10px
}

.mb-1 {
	margin-bottom: 10px;
}

.icon {
	color: rgba(0, 0, 0, .5);
	font-family: 'FontAwesome';
	font-size: 40px;
	margin-top: -30px;
	position: absolute;
	top: 50%;
	text-align: center;
}

.owl-theme .owl-nav [class*=owl-] {
	height: 100%;
	position: absolute;
	top: 0;
	width: 48px;
	margin: 0px;
	background: transparent;
	border-radius: 0px;
}

.owl-theme .owl-nav .owl-next:hover {
	background: linear-gradient(to right, transparent, #e0e0e0);
}

.owl-theme .owl-nav .owl-prev:hover {
	background: linear-gradient(to right, #e0e0e0, transparent);
}

.owl-next {
	right: 0;
}

.owl-prev {
	left: 0;
}

.owl-next:hover .icon, .owl-prev:hover .icon {
	color: #777;
}

.icon-arrow-left {
	left: 0;
	margin-left: 8px;
}

.icon-arrow-left:before {
	content: "\f053";
}

.icon-arrow-right {
	right: 0;
	margin-right: 8px;
}

.icon-arrow-right:before {
	content: "\f054";
}
.stories{
	position: relative;
}
.stories-tag{
	position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}
.stories-by{
	    position: absolute;
    bottom: 16px;
    right: 0px;
    left: 0px;
}
.feature-desc{
	text-align: center;
}
.desc-img img{
	max-width: 100%;
}
/*Tabs */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width:
	667px) {
	.submit {
		width: 90px;
	}
	.email {
		width: 180px;
	}
	.sitemap-footer {
		height: 100%;
	}
	.coupon {
		font-size: 12px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width:
	567px) {
	.submit {
		width: 85px;
	}
	.email {
		width: 172px;
	}
	.sitemap-footer {
		height: 100%;
	}
	.coupon {
		font-size: 10px;
	}
	.item-name {
		font-size: 14px;
	}
	.item-type {
		font-size: 11px;
	}
	.artist_text {
		height: 60px;
		font-size: 14px;
	}
}