@CHARSET "UTF-8";
.text-color{
	color:#616161;
}
.background-color-coupon{
	background-color:#BDBDBD;
}
.background-logo{
	background-color:#212121
}
.primary-background{
	background-color: #00BF9A
}
.grey-text{
	color:#757575
}
.secondary-background{
	background-color: #F5F5F5;
}
.text-size{
	font-size: 16px;
}