<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">
</head>
<body>
	<nav class="navbar sticky-top">
		<div class="container-fluid">
			<div class="brand-logo">Wallistry</div>
			<div class="flexbox-container middle-nav-container">
				<a>HOME</a> <a href="/notebook.html">NOTEBOOKS</a> <a href="/bottle.html">BOTTLE</a> <a>COASTER</a>
				<a></a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">MY CART</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<a class="floating-btn" href="#">BUY NOW</a>
		<div
			th:replace="common/item :: heading-section(title='BHUMI',
			type='TERRACOTTA WATER BOTTLE',
			description='The terracotta water bottles are crafted by the fine artisans of Tamil
					Nadu. “Bhumi” means “Earth” in the Tamil language. Made from clay,
					“Bhumi” is crafted to inspire a healthier lifestyle, reviving the
					traditional use of earthenware, designed with a contemporary
					outlook.')"></div>
		<div th:replace="common/item :: main-img-section(image='bhumi.png')"></div>
		<div th:replace="common/item :: sub-img-section(image1='notebook.png',image2='notebook.png')"></div>
		<div th:replace="common/item :: features-heading(title='FEATURES')"></div>



		<div class="row spacing-top">
			<div class="col-lg-4">
				<div class="row">
					<div class="col-lg-4">
						<img alt="icon" src="/images/1.svg" />
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-12 col-sm-12 col-md-12 text-center">
								<p class="title">LIFESTYLE</p>
							</div>
							<div class="col-lg-12 col-xs-12">Water is one of the most
								vital sources for human survival. The terracotta water bottle is
								designed to create a conscious effort to inspire a healthier
								lifestyle.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row">
					<div class="col-lg-3">
						<img alt="icon" src="/images/2.svg" />
					</div>
					<div class="col-lg-9">
						<div class="row">
							<div class="col-lg-12 col-sm-12 col-md-12 text-center">
								<p class="title">NATURAL COOLING</p>
							</div>
							<div class="col-lg-12 col-xs-12">The terracotta water
								bottle keeps the water cool in a natural way.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row">
					<div class="col-lg-5">
						<img alt="icon" src="/images/3.svg" />
					</div>
					<div class="col-lg-7">
						<div class="row">
							<div class="col-lg-12 col-sm-12 col-md-12 text-center">
								<p class="title">ECO -FRIENDLY</p>
							</div>
							<div class="col-lg-12 col-xs-12">Made from clay, the
								terracotta water bottle is environmentally sustainable.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row spacing-top">
			<div class="col-lg-12">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="italic tag-text">“H2O makes a hiker go. Stay
						hydrated”</p>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="common/footer :: footer"></footer>
	<div th:replace="common/header :: before-body-script"></div>
</body>
</html>