<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">
</head>
<body>
	<nav th:replace="common/nav :: common-nav"></nav>
	<div class="container-fluid">
		<a class="floating-btn" href="/buynow">BUY NOW</a>
		<div
			th:replace="common/item :: heading-section(title='BHUMI',
			type='TERRACOTTA WATER BOTTLE',
			description='The terracotta water bottles are crafted by the fine artisans of Tamil
					Nadu. “Bhumi” means “Earth” in the Tamil language. Made from clay,
					“Bhumi” is crafted to inspire a healthier lifestyle, reviving the
					traditional use of earthenware, designed with a contemporary
					outlook.')"></div>
		<div th:replace="common/item :: main-img-section(image='bhumi.png')"></div>
		<div th:replace="common/item :: sub-img-section(image1='notebook.png',image2='notebook.png')"></div>
		<div th:replace="common/item :: features-heading(title='FEATURES')"></div>
		<div class="row spacing-top">
			<div class="col-lg-4">
				<div th:replace="common/item :: features-item-section(image='1.svg',title='LIFESTYLE',
								description='Water is one of the most
								vital sources for human survival. The terracotta water bottle is
								designed to create a conscious effort to inspire a healthier
								lifestyle.')"></div>
			</div>
			<div class="col-lg-4">
				<div th:replace="common/item :: features-item-section(image='2.svg',
								title='NATURAL COOLING', description='The terracotta water
								bottle keeps the water cool in a natural way.')"></div>
			</div>
			<div class="col-lg-4">
				<div th:replace="common/item :: features-item-section(image='3.svg',
								title='ECO -FRIENDLY', description='Made from clay, the
								terracotta water bottle is environmentally sustainable.')"></div>
			</div>
		</div>
		<div class="row spacing-top">
			<div class="col-lg-12">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="italic tag-text">“H2O makes a hiker go. Stay
						hydrated”</p>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="common/footer :: footer"></footer>
	<div th:replace="common/header :: before-body-script"></div>
</body>
</html>