<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">
</head>
<body>
	<nav th:replace="common/nav :: common-nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="owl-carousel owl-theme" id="home-owl-carousel">
				<div>
					<img
						srcset="/images/banner_01.jpg 2000w, /images/banner_mobile_01.jpg 600w"
						style="width: 100%" />
				</div>
				<div>
					<img
						srcset="/images/banner_02.jpg 2000w, /images/banner_mobile_01.jpg 600w"
						style="width: 100%" />
				</div>
				<div>
					<img
						srcset="/images/banner_03.jpg 2000w, /images/banner_mobile_01.jpg 600w"
						style="width: 100%" />
				</div>
				<div>
					<img
						srcset="/images/banner_02.jpg 2000w, /images/banner_mobile_01.jpg 600w"
						style="width: 100%" />
				</div>
			</div>
		</div>
		<div class="row card story">
			<div class="col-lg-12 va-center">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="title-head">Conscious Basics</p>
				</div>
				<div class="col-md-offset-2 col-md-8 text-center col-xs-12 desc-txt">
					We believe small details can inspire you to live a conscious lifestyle. Our lifestyle products are designed with 
					thoughtful choice of function, materials and aesthetics. Our process involved in designing and working with community of
					artists and artisans in India to craft culturality relevant products. We make basics for better living.
					</div>
						<div class="col-lg-12 col-sm-12 col-md-12 text-center button-position">
							<button class="button-alt">Know our story</button>
						</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-md-12 text-center item-title">
				BEST SELLERS
			</div>
		</div>
		<div class="row item-section">
			<div class="col-lg-4 col-sm-12 item">
				<div class="col-lg-12 card">
					<div class="title">
						
					</div>
					<a href="/notebook"><img class="item-img-size center-block"
						src="/images/tab_notebook.jpg" alt="txt" /></a>
					<div class="text-center item-type">WOOD VENEER NOTEBOOKS</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 item">
				<div class="col-lg-12 card">
					<div class="title">
						
					</div>
					<a href="/bottle"><img class="item-img-size center-block"
						src="/images/tab_waterbottle.jpg" alt="txt" /></a>
					<div class="text-center item-type">TERRACOTTA WATERBOTTLE</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 item">
				<div class="col-lg-12 card">
					<div class="title">
					
					</div>
					<a href="/coasters"><img class="item-img-size center-block"
						src="/images/tab_coasters.jpg" alt="txt" /></a>
					<div class="text-center item-type">WOODEN COASTERS</div>
				</div>
			</div>
		</div>
		<div class="row story-alt">
			<div class="col-lg-12 va-center">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="title-alt-head">Gifting - Inspire a community</p>
				</div>
				<div class="col-md-offset-2 col-md-8 text-center col-xs-12 desc-txt">
					 Make art of giving easier by gifting thoughtful and creative and lifestyle products.
					</div>	
			</div>
		</div>
		<div class="row">
		<div class="col-lg-6 gifting-a" >
		<img class="gift-img-size"
						src="/images/corporate.jpg" alt="txt" />
		<a href="/corporate-gifting"><button align="center" class="button-alt button-gift">CORPORATE GIFTING</button></a>
		</div>
		<div class="col-lg-6 gifting-b">
		<img class="gift-img-size"
						src="/images/corporate.jpg" alt="txt" />
		<a href="/event-gifting"><button class="button-alt button-gift">EVENT GIFTING</button></a>
		</div>
		</div>
		<div class="row card-gift story">
			<div class="col-lg-12 va-center">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="title-head">Blog</p>
				</div>
				<div class="col-md-offset-2 col-md-8 text-center col-xs-12 desc-txt">
					At Wallistry, we believe a blog is the best medium to express our interests to the
			community. We explore interesting stories of people and their works from
			different walks of life- design, craft and travel. We love to share some of the best
			stories with you.
					</div>
						<div class="col-lg-12 col-sm-12 col-md-12 text-center button-position">
							<button class="read-more-btn">Read More</button>
						</div>
			</div>
		</div>
			<div class="row">
			<div class="col-lg-12 col-sm-12 col-md-12 text-center insta-content">
				<p class="bold">INSTAGRAM</p>
			</div>
			<div class="col-sm-2 col-sm-offset-1 instaPic">pic1</div>
			  <div class="col-sm-2 instaPic">pic2</div>
			  <div class="col-sm-2 instaPic">pic3</div>
			  <div class="col-sm-2 instaPic">pic4</div>
			  <div class="col-sm-2 instaPic">pic5</div>
			<!-- <div
				class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center spacing-top">
				<p class="bold">FEATURED VIDEOS</p>
				<div align="center" class="embed-responsive embed-responsive-16by9">
					<video class="embed-responsive-item">
						<source src="/video/videoplayback.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
			<div
				class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center spacing-top">
				<p class="bold">BLOG</p>
				<div align="center" class="embed-responsive embed-responsive-16by9">
					<video class="embed-responsive-item">
						<source src="/video/videoplayback.mp4" type="video/mp4" />
					</video>
				</div> 
			</div>-->
		</div>
	</div>
	<footer th:replace="common/footer :: footer"></footer>
	<div th:replace="common/header :: before-body-script"></div>
	<script th:src="@{/js/owlcarousel/owl.carousel.min.js}"></script>
	<script th:src="@{/js/index.js}"></script>
		<script type="text/javascript">
	$("#home").addClass("active");	
	</script>
</body>
</html>