<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">
</head>
<body style="overflow-x: hidden">


	 <div class="row">
		<div class="owl-carousel owl-theme">
			<div>
				<img srcset="/images/banner_01.jpg 2000w, /images/banner_mobile_01.jpg 600w" style="width: 100%" />
			</div>
			<div>
				<img srcset="/images/banner_02.jpg 2000w, /images/banner_mobile_01.jpg 600w" style="width: 100%" />
			</div>
			<div>
				<img srcset="/images/banner_02.jpg 2000w, /images/banner_mobile_01.jpg 600w" style="width: 100%" />
			</div>
			<div>
				<img srcset="/images/banner_02.jpg 2000w, /images/banner_mobile_01.jpg 600w" style="width: 100%" />
			</div>
		</div>
	</div> 
	<div th:replace="common/header :: before-body-script"></div>
	<script th:src="@{/js/owlcarousel/owl.carousel.min.js}"></script>
	<script th:src="@{/js/index.js}"></script>
</body>
</html>