<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<body>
<nav th:replace="common/nav :: common-nav"></nav>
	<div class="container-fluid">
	<div class="row">
	<div class="col-md-offset-1">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="/stationery">Stationery</a></li>
				<li class="active">Wooden notebook (A6)</li>
			</ul>
		</div>
		</div>
						<div class="row">
			<div class="col-lg-6">
				<div id="fullImg" class="col-lg-7">
					<img data-image-id="" src="images/buy-notebook.png" alt='' title="" />
				</div>


				<div class="col-lg-2 col-lg-offset-2" id="thumbnail-gallery">
					<div class="thumbnail-slider">

						<div class="slide">
							<a href="images/buy-notebook.png" data-image-id="1"
								class="previewImg"> <img class="thumbnails"
								src="images/buy-notebook.png" data-image-id="1" alt="" />
							</a>
						</div>
						<div class="slide">
							<a href="images/tab_coasters.png" data-image-id="2"
								class="previewImg"> <img class="thumbnails"
								src="images/tab_coasters.png" data-image-id="2" alt="" />
							</a>
						</div>
						<div class="slide">
							<a href="images/notebook.png" data-image-id="3"
								class="previewImg"> <img class="thumbnails"
								src="images/notebook.png" data-image-id="3" alt="" />
							</a>
						</div>
						<div class="slide">
							<a href="images/buy-notebook.png" data-image-id="4"
								class="previewImg"> <img class="thumbnails"
								src="images/buy-notebook.png" data-image-id="4" alt="" />
							</a>
						</div><div class="slide">
							<a href="images/buy-notebook.png" data-image-id="5"
								class="previewImg"> <img class="thumbnails"
								src="images/buy-notebook.png" data-image-id="5" alt="" />
							</a>
						</div><div class="slide">
							<a href="images/buy-notebook.png" data-image-id="6"
								class="previewImg"> <img class="thumbnails"
								src="images/buy-notebook.png" data-image-id="6" alt="" />
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="row">
					<div class="col-lg-12">
						<div class="col-lg-12 col-sm-12 col-md-12 text-center">
							<p class="buy-item-title">KRIYA</p>
						</div>
						<div class="col-lg-12 col-sm-12 col-md-12 text-center">
							<p class="buy-item-type">WOODEN NOTEBOOK (Mini)</p>
						</div>
					</div>
					<div class="col-lg-12 text-center min-spacing-top">
						<p class="buy-item-price" id="kriyaa6Price"></p>
					</div>
					<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					</div>
					<div class="col-lg-12 text-center min-spacing-top">
						<div class="buy-item-price">
							<p>
								<span>QTY&nbsp;&nbsp;</span> <span>
									<button type="button" class="btn btn-number" data-type="minus" data-field="quant[1]">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</span> <input type="text" name="quant[1]" class="input-number"
									disabled="disabled" value="1" min="1" max="10" /> <span>
									<button type="button" class="btn btn-number" data-type="plus"
										data-field="quant[1]">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</span>
							</p>
						</div>
					</div>
					<div class="col-lg-12 min-spacing-top">
						<div class="col-lg-6 text-center">
							<button class="btn-grp btn-add-cart">ADD TO CART</button>
						</div>
						<div class="col-lg-6 text-center">
							<button class="btn-grp btn-buy-now">BUY NOW</button>
						</div>
					</div>
					<div class="col-lg-12 spacing-top item-specs">
						<div class="nav-section">
							<ul class="nav nav-tabs nav-justified">
								<li class="active"><a data-toggle="tab" href="#menu1">SPECIFICATIONS</a></li>
								<li><a data-toggle="tab" href="#menu2">CARE&nbsp;AND&nbsp;INFO</a></li>
								<li><a data-toggle="tab" href="#menu3">SHIPPING AND DELIVERY</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div id="menu1" class="tab-pane fade in active">
								<ul>
									<li>Width:10.5cm</li>
									<li>Height: 14.8cm</li>
									<li>Material: Front and back cover made from natural teak wood
									veneers.</li>
									<li>120 gsm plain acid free paper, natural shade.</li>
									<li>No.of pages: 90</li>
									<li>Thickness of wood: 4mm thick wood veneer</li>
								</ul>
							</div>
							<div id="menu2" class="tab-pane fade">
								<ul>
								
								</ul>
							</div>
							<div id="menu3" class="tab-pane fade">
								<ul style="list-style-type: disc;">
									
								</ul>
								NOTE
								<ul style="list-style-type: disc;">
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row card story-alt">
			<div class="col-lg-12 va-center">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="title-head">Minimal Marvel</p>
				</div>
				<div class="col-md-offset-2 col-md-8 text-center col-xs-12 desc-txt">
					The A6 wooden notebook is designed with perfect fit and size to ease portability and adaptability.
					Made from natural teak veneers, the wooden notebook is sturdy yet lightweight. This space-friendly
					notebook is an infusion of minimalism and material sophistication, designed and crafted to celebrate
					your style.
					</div>
			</div>
		</div>
		<div class="row">
		<div class="col-lg-6 gifting-a" >
		<img class="gift-img-size"
						src="/images/corporate.jpg" alt="txt" />
		</div>
		<div class="col-lg-6 gifting-b">
		<img class="gift-img-size"
						src="/images/corporate.jpg" alt="txt" />
		</div>
		</div>
		<div th:replace="common/item :: features-heading(title='Features')"></div>
<div class="row spacing-top">
		<div class="col-lg-12">
				<div th:replace="common/item :: new-features-item-section(image='1.svg',title='Space - Friendly',
								description='Be it your sling bag or a small
								space in your laptop bag or
								backpack, it needs very
								minimal spot. It eases
								portability and adaptability.')"></div>
				<div th:replace="common/item :: new-features-item-section(image='1.svg',title='Acid free paper',
								description='The notebooks is made with
								acid free paper which means
								you can archive your notes')"></div>
			<div th:replace="common/item :: new-features-item-section(image='1.svg',title='Round cornered edges',
								description='The round cornered edges
								keep the DIY notebooks in
								style, giving it a
								contemporary look.')"></div>
			<div th:replace="common/item :: new-features-item-section(image='1.svg',title='Material and finish',
								description='Made from natural teak veneers
								and coated with beeswax
								finish, a natural wood
								polish, it enhances the look
								and feel of the notebook.')"></div>
			<div th:replace="common/item :: new-features-item-section(image='1.svg',title='Lightweight',
								description='Assumed its going to be
								heavier because its wood?
								No, its not. The front and
								back covers and made from
								4mm thick wood veneers,
								which makes it sturdy but it is
								light weight too.')"></div>
		</div>
</div>
<div class="row">
<div class="margin-image"><img src="/images/coaster_01.jpg" style="width: 100%" /></div>
			
</div>
		<div class="row spacing-top">
			<div class="col-lg-12">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="italic tag-text-alt">“CREATIVITY IS INTELLIGENCE HAVING FUN”</p>
				</div>
			</div>
		</div>
			<div class="row card story-alt-text">
			<div class="col-lg-12 va-center">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="title-text">YOU MAY ALSO LIKE</p>
				</div>
			</div>
		</div>
		<div class="row item-section">
			<div class="col-lg-4 col-sm-12 item">
				<div class="col-lg-12 card">
					
					<a href="/bottle"><img class="item-img-size center-block"
						src="/images/tab_notebook.jpg" alt="txt" /></a>
					<div class="text-center item-type">Wooden Coasters(pack of 6)</div>
					<div class="text-center item-type-cost">Rs.640</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 item">
				<div class="col-lg-12 card">
					
					<a href="/coasters"><img class="item-img-size center-block"
						src="/images/tab_waterbottle.jpg" alt="txt" /></a>
					<div class="text-center item-type">Terracotta Water Bottle (1 Ltr)</div>
					<div class="text-center item-type-cost">Rs.600</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 item">
				<div class="col-lg-12 card">
				
					<a href="/coasters"><img class="item-img-size center-block"
						src="/images/tab_coasters.jpg" alt="txt" /></a>
					<div class="text-center item-type">Himalayan musk
							Wooden Notebook (Regular)</div>
					<div class="text-center item-type-cost">Rs.890</div>
				</div>
			</div>
		</div>
		</div>
	<footer th:replace="common/footer :: footer"></footer>
	<div th:replace="common/header :: before-body-script"></div>
	<script th:src="@{/js/jquery.bxslider.js}"></script>
	<script th:src="@{/js/jquery.zoom.min.js}"></script>
	<script th:src="@{/js/buy-now.js}"></script>
		<script type="text/javascript">
	$("#stationery").addClass("active");	
	var urlParams = new URLSearchParams(window.location.search);
	var v1 = urlParams.get('price');
	$("#kriyaa6Price").text("Rs."+v1);
	</script>
</body>
</html>