<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">
</head>
<body>
<div id="wrapper" class="active">
		<div th:replace="common/seller-nav :: common-sellernav"></div>
		<div th:replace="common/seller-nav :: common-sellernav-topbar"></div>
		<table class="inventory-table" id="tbdata">
		<thead>
			<tr>
			<th>Product name</th>
			<th>Category</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>SKU</th>
			<th>Status</th>
			<th></th>
			</tr>
		</thead>		
		</table>
<!-- code to edit -->
<div id="edit-dialog-form">
  <form>
    <fieldset>
    <div id="edit_name">test</div>
    <div class="modal-input">
      <label for="edit_price">Price</label>
      <input type="number" name="edit_price" id="edit_price"  value="" class="text ui-widget-content ui-corner-all"/>
     </div>
     <div class="modal-input"> 
      <label for="edit_quantity">Quantity</label>
      <input type="number" name="edit_quantity" id="edit_quantity" value="" class="text ui-widget-content ui-corner-all"/>
      </div>
      <input type="hidden" id="prod_id" value="" />
      <div class="modal-input">
            <label for="edit_quantity">Freeze</label>
      	<input type="checkbox" />
      </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
    </fieldset>
  </form>
</div>
</div>

	<div th:replace="common/header :: before-body-script"></div>
	<script th:src="@{/js/seller.js}"></script>
</body>
</html>