<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header">
</head>
<body>
	<div id="wrapper" class="active">
		<div th:replace="common/seller-nav :: common-sellernav"></div>
		<div th:replace="common/seller-nav :: common-sellernav-topbar"></div>
		<div class="row" style="padding:36px">
			<div class="col-md-12" style="font-size:24px">Users</div>
			<div class="col-md-6 cust-div" >
			<div class="cust-div-content" style="background-color:grey;color:#ffffff">
			<div>No of customers</div>
				<div class="div-sub-content" id="customerCount"></div>
			</div>	
			</div>
			<div class="col-md-6 cust-div" >
			<div class="cust-div-content" style="background-color:grey;color:#ffffff">
				<div>No of subscribers</div>
				<div class="div-sub-content" id="subscriberCount"></div>
			</div>
			</div>
		</div> 
		<div class="row" style="padding:36px">
		<div class="col-md-12" style="font-size:24px" >Revenue</div>
			<div class="col-md-3 cust-div" >
			<div class="cust-div-content" style="background-color:grey;color:#ffffff">
				<div>Yesterday</div>
				<div class="div-sub-content" id="revenueYesterday"></div>
			</div>
			</div>
			<div class="col-md-3 cust-div">
			<div class="cust-div-content" style="background-color:grey;color:#ffffff">
				<div>Last Week</div>
				<div class="div-sub-content" id="revenue7days"></div>
			</div>
			</div>
			<div class="col-md-3 cust-div" >
			<div class="cust-div-content" style="background-color:grey;color:#ffffff">
					<div>Last month</div>
				<div class="div-sub-content" id="revenue1month"></div>
			</div>
			</div>
			<div class="col-md-3 cust-div">
			<div class="cust-div-content" style="background-color:grey;color:#ffffff">
				<div>Total</div>
				<div class="div-sub-content" id="revenueToday"></div>
			</div>
			</div>
		</div>
<!-- 		/////////////////////////////////////////////////////////////////// -->
		<div class="row" style="padding: 36px;">
			<div class="banner-image-header"></div>
			<div class="row" style="padding:8px">
				<div class="col-md-6 zero-pad" style="padding:8px">
					<div class="col-md-8 upload-text">Banner Image 1</div>
					<div class="col-md-4 zero-pad">
						<div style="height: 0px; overflow: hidden">
							<input type="file" id="bannerImage1" name="bannerImage1" />
						</div>
						<button class=" uploadImage uploadContent">Upload</button>
					</div>
				</div>
				<div class="col-md-6 zero-pad" style="padding:8px">
					<div class="col-md-8 upload-text" id="bannerText1">Text 1</div>
					<div class="col-md-4 zero-pad">
						<button class=" uploadContent uploadText" id="text1">Add
							text</button>
					</div>
				</div>
			</div>
			<div class="row" style="padding:8px">
				<div class="col-md-6 zero-pad" style="padding:8px">
					<div class="col-md-8 upload-text">Banner Image 2</div>
					<div class="col-md-4 zero-pad">
						<div style="height: 0px; overflow: hidden">
							<input type="file" id="bannerImage2" name="bannerImage2" />
						</div>
						<button class=" uploadImage uploadContent">Upload</button>
					</div>
				</div>
				<div class="col-md-6 zero-pad" style="padding:8px">
					<div class="col-md-8 upload-text" id="bannerText2">Text 2</div>
					<div class="col-md-4 zero-pad">
						<button class=" uploadContent uploadText" id="text2">Add text</button>
					</div>
				</div>
			</div>
			<div class="row" style="padding:8px">
				<div class="col-md-6 zero-pad" style="padding:8px">
					<div class="col-md-8 upload-text">Banner Image 3</div>
					<div class="col-md-4 zero-pad">
						<div style="height: 0px; overflow: hidden">
							<input type="file" id="bannerImage3" name="bannerImage3" />
						</div>
						<button class=" uploadImage uploadContent">Upload</button>
					</div>
				</div>
				<div class="col-md-6 zero-pad" style="padding:8px">
					<div class="col-md-8 upload-text" id="bannerText3">Text 3</div>
					<div class="col-md-4 zero-pad">
						<button class=" uploadContent uploadText" id="text3">Add text</button>
					</div>
				</div>
			</div>
			<div class="row" style="padding:8px">
				<div class="col-md-6 zero-pad" style="padding:8px">
					<div class="col-md-8 upload-text">Banner Image 4</div>
					<div class="col-md-4 zero-pad">
						<div style="height: 0px; overflow: hidden">
							<input type="file" id="bannerImage4" name="bannerImage4" />
						</div>
						<button class=" uploadImage uploadContent ">Upload</button>
					</div>
				</div>
				<div class="col-md-6 zero-pad" style="padding:8px">
					<div class="col-md-8 upload-text uploadText" id="bannerText4">Text 4</div>
					<div class="col-md-4 zero-pad">
						<button class=" uploadContent" id="text4">Add text</button>
					</div>
				</div>
			</div>
			<div id="uploadTextcontent">
			<input type="hidden" id="textId"/>
			<textarea id="bannerText"></textarea>
			</div>
		</div>
	</div>
	<div th:replace="common/header :: before-body-script"></div>
	<script th:src="@{/js/seller.js}"></script>
</body>
</html>