<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<body>
	<nav th:replace="common/nav :: common-nav"></nav>
	<div class="container-fluid">
		<div
			th:replace="common/breadcrum :: breadcrumb-section(activePage='Stationery')"></div>
		<div class="row card story-alt">
			<div class="col-lg-12 va-center">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="title-head">Stationery - Supplies for work and creation</p>
				</div>
				<div class="col-md-offset-2 col-md-8 text-center col-xs-12 desc-txt">
					Curated notebooks and accessories to enhance productivity and creativity.
					</div>
			</div>
		</div>
	
	<div class="row item-section" id="stationery-items">
			
		</div>
		</div>
	<footer th:replace="common/footer :: footer"></footer>
	<div th:replace="common/header :: before-body-script"></div>
		<script th:src="@{/js/stationery.js}"></script>
			<script type="text/javascript">
	$("#stationery").addClass("active");	
	</script>
</body>
</html>