<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<body>
	<nav th:replace="common/nav :: common-nav"></nav>
	<div class="container-fluid">
		<div
			th:replace="common/breadcrum :: breadcrumb-section(activePage='Stationery')"></div>
		<div class="row card story-alt">
			<div class="col-lg-12 va-center">
				<div class="col-lg-12 col-sm-12 col-md-12 text-center">
					<p class="title-head">Stationery - Supplies for work and creation</p>
				</div>
				<div class="col-md-offset-2 col-md-8 text-center col-xs-12 desc-txt">
					Curated notebooks and accessories to enhance productivity and creativity.
					</div>
			</div>
		</div>
	
	<div class="row item-section">
			<div class="col-lg-4 col-sm-12 homeware-item">
				<div class="col-lg-12 card">
					
					<a href="/bottle"><img class="item-img-size center-block"
						src="/images/tab_notebook.jpg" alt="txt" /></a>
					<div class="text-center item-type">Himalayan musk
							Wooden notebook (Regular)</div>
					<div class="text-center item-type-cost">Rs.890</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 homeware-item">
				<div class="col-lg-12 card">
					
					<a href="/coasters"><img class="item-img-size center-block"
						src="/images/tab_waterbottle.jpg" alt="txt" /></a>
					<div class="text-center item-type">Wooden notebook (Mini)</div>
					<div class="text-center item-type-cost">Rs.480</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 homeware-item">
				<div class="col-lg-12 card">
				
					<a href="/diybook"><img class="item-img-size center-block"
						src="/images/tab_coasters.jpg" alt="txt" /></a>
					<div class="text-center item-type">DIY Notebook</div>
					<div class="text-center item-type-cost">from Rs.250</div>
				</div>
			</div>
		</div>
			<div class="row item-section">
			<div class="col-lg-4 col-sm-12 homeware-item">
				<div class="col-lg-12 card">
					
					<a href="/bottle"><img class="item-img-size center-block"
						src="/images/tab_notebook.jpg" alt="txt" /></a>
					<div class="text-center item-type">Nammat
								Wooden notebook (Regular)</div>
					<div class="text-center item-type-cost">Rs.890</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 homeware-item">
				<div class="col-lg-12 card">
					
					<a href="/coasters"><img class="item-img-size center-block"
						src="/images/tab_waterbottle.jpg" alt="txt" /></a>
					<div class="text-center item-type">Wooden notebook (Regular)</div>
					<div class="text-center item-type-cost">Rs.890</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 homeware-item">
				<div class="col-lg-12 card">
				
					<a href="/coasters"><img class="item-img-size center-block"
						src="/images/tab_coasters.jpg" alt="txt" /></a>
					<div class="text-center item-type">Wooden notebook (Regular)</div>
					<div class="text-center item-type-cost">Rs.890</div>
				</div>
			</div>
		</div>
		</div>
	<footer th:replace="common/footer :: footer"></footer>
	<div th:replace="common/header :: before-body-script"></div>
</body>
</html>