<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<body>
	<nav th:replace="common/nav :: common-nav"></nav>
	<div class="container-fluid">
		<div
			th:replace="common/breadcrum :: breadcrumb-section(activePage='Terms and Conditions')"></div>
		<div class="row primary-background term-strip">
			<div class="middle-nav-container">TERMS AND CONDITIONS</div>
		</div>
		<div class="col-md-12 col-lg-12 text">
			<p>Throughout the site, the terms “you” or “your” refer to the
				user of the website, “we”, “us” and “our” refer to
				www.wallistry.com.</p>
			<br />
			<p>By visiting our site and/ or purchasing something from us, you
				engage in our “Service” and agree to be bound by the following terms
				and conditions (“Terms of Service”, “Terms”).</p>
			<br />
			<p>Please read these Terms of Service carefully before accessing
				or using our website. By accessing or using any part of the site,
				you agree to be bound by these Terms of Service. If you do not agree
				to all the terms and conditions of this agreement, then you may not
				access the website or use any services.</p>
			<br />
			<h5>GENERAL INFORMATION</h5>
			<p>The content of the pages of this website is for your general
				information and use only. It is subject to change without notice.</p>
			<p>Your use of any information or materials on this website is
				entirely at your own risk, for which we shall not be liable. It
				shall be your own responsibility to ensure that any products,
				services or information available through this website meet your
				specific requirements.</p>
			<p>This website contains material which is owned by or licensed
				to us. This material includes, but is not limited to, the design,
				layout, look, appearance and graphics. Reproduction is prohibited
				other than in accordance with the copyright notice, which forms part
				of these terms and conditions.</p>
			<p>You may not create a link to this website from another website
				or document without Wallistry’s prior written consent.</p>
			<p>Measurements/dimensions of products</p>
			<p>Measurements/dimensions of the products are approximate only
				to allow you to understand the approximate size of the product.
				Therefore the actual product dimension delivered to you may
				sometimes slightly vary.</p>
			<p>Representation of products</p>
			<p>We have made every effort to display as accurately as possible
				the colours and images of our products as they appear. We cannot
				guarantee that your computer monitor's display of any colour will be
				accurate and the colour of the actual product may sometimes slightly
				vary.</p>
			<p>Usability</p>
			<p>If the products are not used as per their purpose and if that
				causes harm, Wallistry and its company members will not take any
				responsibility.</p>
			<h5>PRICING</h5>
			<p>We aim to provide best prices at Wallistry for the customers.
				Our prices for some of our products are subject to change without
				notice.</p>
			<h5>LIMITATION OF LIABILITY</h5>
			<p>Given the unpredictability of technology and the online
				environment, Wallistry does not warrant that the function or
				operation of this website will be uninterrupted or error-free, that
				defects will be corrected, or that this site or the server that
				makes it available will be free of viruses or other harmful
				elements. As a visitor and user of this website, you must assume
				full responsibility for any costs associated with the servicing of
				equipment used in connection with the use of our website. As a
				visitor and a user of this website, you, in effect, agree that your
				access will be subject to the terms and conditions set forth in this
				legal notice and that access is undertaken at your own risk.
				Wallistry shall not be liable for damages of any kind related to
				your use of or inability to access this website.</p>
			<h5>INACCURACIES</h5>
			<p>We endeavour to present the most recent, most accurate, and
				most reliable information on our website at all times. However,
				there may be occasions when some of the information featured on
				www.wallistry.com may contain incomplete data, typographical errors,
				or inaccuracies. Any errors are wholly unintentional and we
				apologise if erroneous information is reflected in merchandise
				price, item availability, or in any way affects your individual
				order. Please be aware that we present our content 'as is' and make
				no claims to its accuracy, either express or implied. We reserve the
				right to amend errors or to update product information at any time
				without prior notice.</p>
			<h5>INDEMNIFICATION</h5>
			<p>You agree to indemnify, defend and hold harmless Wallistry and
				our parent, subsidiaries, affiliates, partners, officers, directors,
				agents, contractors, licensors, service providers, subcontractors,
				suppliers, interns and employees, harmless from any claim or demand,
				including reasonable attorneys’ fees, made by any third-party due to
				or arising out of your breach of these Terms of Service or the
				documents they incorporate by reference, or your violation of any
				law or the rights of a third-party.</p>
			<h5>THIRD PARTY LINK</h5>
			<p>Certain content, products and services available via our
				Service may include materials from third-parties.</p>
			<p>Third-party links on this site may direct you to third-party
				websites that are not affiliated with us. We are not responsible for
				examining or evaluating the content or accuracy and we do not
				warrant and will not have any liability or responsibility for any
				third-party materials or websites, or for any other materials,
				products, or services of third-parties.</p>
			<p>We are not liable for any harm or damages related to the
				purchase or use of goods, services, resources, content, or any other
				transactions made in connection with any third-party websites.
				Please review carefully the third-party's policies and practices and
				make sure you understand them before you engage in any transaction.
				Complaints, claims, concerns, or questions regarding third-party
				products should be directed to the third-party.</p>
			<h5>CORRESPONDENCE</h5>
			<p>Although we will make every effort to respond quickly to
				applicable email messages, Wallistry is under no obligation to
				respond to all pieces of correspondence received through this site,
				or to maintain your submitted comments in confidence, or to pay
				compensation of any kind for your comments or submissions.</p>
			<h5>CONTACT US</h5>
			<p>We absolutely love feedbacks, positive and negative. We
				believe it will help us evolve better. You can always email us at
				wallistry@gmail.com.</p>
		</div>
	</div>
	<footer th:replace="common/footer :: footer"></footer>
	<div th:replace="common/header :: before-body-script"></div>
</body>
</html>